---
# page with a nav bar for long text
layout: default
---


<div class="container">
    <div class="row">
      <!-- sidebar, which will move to the top on a small screen -->
      <div class="col-sm-3">
        <div class="sticky-top pt-5">
            <h3>Table of Contents</h3>

            <ul class="list-unstyled">
            {% for inlink in page.inlinks %}
            <li><a href="#{{ inlink.link-anchor }}" class="link-secondary">{{ inlink.link-name }}</a></li>
            {% endfor %}
            </ul>
        </div>
      </div>
      <!-- main content area -->
      <div class="col-sm-9 mt-5">
        <h1>
            {{page.title}}
        </h1>
        {% if page.author %}
            By {{page.author}}
            <br/>
            <br/>
        {% endif %}
        {{content}}
    </div>
    </div>
  </div>





{% if page.credits == true %}{% include cb/credits.html %}{% endif %}